.commentItem {
    color: var(--text-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    &:not(:last-child) {
        margin-bottom: 4rem;
    }
    &_row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_author {
            font-size: 2rem;
            font-weight: 500;
            padding-left: 0.5rem;
            margin-bottom: 1rem;
        }
        &_date {
            font-size: 1.4rem;
            font-weight: 300;
        }
    }
    &_body {
        font-size: 1.7rem;
        font-weight: 400;
        background-color: var(--background-input-color);
        border-radius: 0.5rem;
        padding: 1.5rem 1.5rem 1.5rem 2.5rem;
        margin-bottom: 1rem;
    }
    &_buttons {
        display: flex;
        justify-content: flex-end;
        & > p {
            border-bottom: 1px solid var(--text-color);
            font-size: 1.4rem;
            font-weight: 400;
            padding-bottom: 0.3em;
            cursor: pointer;
        }
    }
}
