.centerCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centerRow {
    display: flex;
    justify-content: center;
    align-items: center;
}
